<!doctype html>
<html>
	<head>
		<title>Kicksmarter</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/vue@next" defer></script>
		<script src="script.js" defer></script>
	</head>
	<body>
        <header><img src="kicksmarter.png" alt="Kicksmarter logo"></header>
        <main id="app">
            <div id="input">
                <div v-if="isWaitingForCategories">
                    <p class="loading">Loading...</p>
                </div>
                <div v-else>
                    <p class="label-input">
                        <label for="title">Title</label>
                        <input type="text" v-model="title" id="title">
                    </p>
                    <p class="label-input">
                        <label for="desc">Description</label>
                        <textarea type="text" v-model="desc" id="desc"></textarea>
                    </p>
                    <p class="label-input">
                        <label for="desc">Category</label>
                        <select id="category" v-model="category">
                            <option v-for="each_category in categories">{{ each_category }}</option>
                        </select>
                    </p>
                    <p class="label-input">
                        <label for="amount">Funding Goal</label>
                        <input type="number" v-model="amount" id="amount">
                    </p>
                    <button v-on:click="sendRequest()">Submit</button>
                </div>
            </div>
            <div id="output">
                <div v-if="isWaiting">
                    <p class="loading">{{ status }}</p>
                </div>
                <div v-else>
                    <p id="output-title">{{ submittedTitle }}</p>
                    <div id="bar"><div id="bar-inner" v-bind:style="{width: chance + '%'}"></div></div>
                    <div id="predictions">
                        <p id="prediction-number">{{ chance }}<span class="prediction-unit">%</span></p>
                        <p id="prediction-number"><span class="prediction-unit">$</span>{{ predictedAmount.toFixed(2) }}</p>
                        <p id="prediction-text">likely to be funded</p>
                        <p id="prediction-text">Predicted amount of funding</p>
                    </div>
                    <p id="you-may-have-copied">You may have copied...</p>
                    <div v-for="item in similar" class="similar-project">
                        <div class="similar-project-top-row">
                            <p class="project-title"><a v-bind:href="item.url">{{ item.title }}</a></p>
                            <p v-if="item.raised >= item.goal" class="pill pill-funded">Funded</p> <p v-else class="pill pill-failed">Failed</p>
                        </div>
                        <div class="similar-project-bottom-row">
                            <p class="project-category">{{ item.category }}</p>
                            <p class="project-funding">${{ item.raised.toFixed(0) }} <span class="project-funding-slash">/</span> ${{ item.goal }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
	</body>
</html>