<!doctype html>
<html>
	<head>
		<title>Kicksmarter</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/vue@next" defer></script>
		<script src="script.js" defer></script>
	</head>
	<body>
        <h1>Helo werld</h1>
        <div id="app">
            <button v-on:click="sendRequest()">Button</button>
            <h1>input</h1>
            <div v-if="isWaitingForCategories">
                <p>Loading...</p>
            </div>
            <div v-else>
                <p><input type="text" v-model="title"></p>
                <p><input type="text" v-model="desc"></p>
                <select v-model="category">
                    <option v-for="each_category in categories">{{ each_category }}</option>
                </select>
                <p><input type="number" v-model="amount"></p>
            </div>
            <h1>output</h1>
            <div v-if="isWaiting">
                <p>{{ status }}</p>
            </div>
            <div v-else>
                <p>{{ chance }}</p>
                <div v-for="item in similar">
                    <p>{{ item.subcategory }} / {{ item.category }}</p>
                    <p>${{ item.raised }} / ${{ item.goal }}</p>
                    <p v-if="item.raised >= item.goal">Funded</p> <p v-else>Failed</p>
                    <p>{{ item.title }}</p>
                </div>
            </div>
        </div>
	</body>
</html>