@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
    margin: 0px;
    min-height: 100vh;
    font-family: Inter, sans-serif;
    color: #333333;
    font-size: 16px;
}

* {
    margin: 0px;
}

input, textarea, select, button {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

.label-input {
    display: flex;
    flex-direction: column;
}

.label-input > * {
    display: block;
}

.label-input label {
    margin-bottom: 10px;
    color: #666666;
}

.label-input :not(:first-child) {
    margin-bottom: 40px;
}

input, textarea, select {
    border: solid 1px #c7c7c7;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #055733;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.loading {
    text-align: center;
    margin-top: 50px;
}

header {
    text-align: center;
    height: 60px;
    box-shadow: 0px 5px 5px 0px #c7c7c7;
    position: relative;
    z-index: 99;
}

header img {
    height: 30px;
    margin-top: 15px;
}

main {
    height: calc(100vh - 60px);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

#input, #output {
    padding: 50px 10%;
}

@media(max-width: 1400px) {
    #input, #output {
        padding: 50px 5%;
    }
}

#output {
    background-color: #f4f8f4;
    box-shadow: inset 5px 0px 5px 0px #d3dfd8;
}

#output-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

#bar {
    width: 100%;
    height: 10px;
    background-color: #dfecdf;
    margin-bottom: 15px;
}

#bar-inner {
    height: 100%;
    /* width set in code */
    background-color: #055733;
}

#predictions {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#predictions :nth-child(2n) {
    text-align: right;
}

#prediction-number {
    color: #05a05d;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0px;
}

#prediction-text {
    color: #666666;
    margin-bottom: 50px;
}

.prediction-unit {
    color: #666666;
    font-size: 36px;
    font-weight: normal;
}

#you-may-have-copied {
    color: #666666;
    text-align: center;
    margin-bottom: 30px;
}

.similar-project {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px 0px #d3dfd8;
}

.similar-project > * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.similar-project-top-row {
    margin-bottom: 20px;
}

.project-title {
    font-size: 24px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-title a {
    text-decoration: none;
    color: inherit;
}

.project-title a:hover, .project-title a:focus {
    text-decoration: underline;
}

.pill {
    display: inline;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

.pill-funded {
    background-color: #05ce78;
    color: #055733;
}

.pill-failed {
    background-color: #ff7c77;
    color: #570805;
}

.similar-project-bottom-row {
    align-items: flex-end;
}

.project-category {
    color: #666666;
}

.project-funding {
    color: #05a05d;
    font-weight: bold;
    font-size: 32px;
}

.project-funding-slash {
    font-weight: normal;
    color: #666666;
    font-size: 20px;
}